.rate {
  border-radius: var(--border-radius-card);
  padding-top: 24px;
  &__list {
    display: flex;
    gap: 24px;
  }
  &__item {
    width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__description {
    margin-bottom: 24px;
  }
  &__item-title {
    margin-bottom: 12px;
  }
  &__item-cover {
    border-radius: var(--border-radius-card);
    background-color: #fff;
    height: 210px;
    margin-bottom: 44px;
    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }
}
