@use '../../variables.scss' as *;

.rate {
  border-radius: var(--border-radius-card);
  padding-top: 24px;
  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (min-width: $tablet) {
      flex-direction: row;
    }
    // @media (min-width: $desktop) {
    //   flex-direction: row;
    // }
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: $tablet) {
      width: 370px;
    }
  }
  &__description {
    margin-bottom: 24px;
  }
  &__item-title {
    margin-bottom: 12px;
  }
  &__item-cover {
    border-radius: var(--border-radius-card);
    background-color: #fff;
    height: 210px;
    margin-bottom: 44px;
    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }
}
