@use '../../variables.scss' as *;

.sending {
  &__types-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 24px;
    @media (min-width: $tablet) {
      flex-direction: row;
    }
  }
  &__types-item {
    border-radius: var(--border-radius-card);
    overflow: hidden;
    // width: 568px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    justify-content: space-between;

    @media (min-width: $tablet) {
      // width: 568px;
      // flex-grow: 0;
      // flex-shrink: 0;
      padding: 15px;
    }
    @media (min-width: $desktop) {
      padding: 24px;
    }
    @media (min-width: $desktop-HD) {
      width: 568px;
      flex-grow: 0;
      flex-shrink: 0;
      // padding: 24px;
    }

    &-cover {
      width: 100%;
      // height: 224px;
      @media (min-width: $tablet) {
        // width: 520px;
        // height: 224px;
      }

      @media (min-width: $desktop-HD) {
        width: 520px;
        height: 224px;
      }
    }
    &-content {
      margin-bottom: 24px;
    }
    &-title {
      margin-bottom: 24px;
    }
  }
}
