.sending {
  &__types-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding-bottom: 24px;
  }
  &__types-item {
    border-radius: var(--border-radius-card);
    overflow: hidden;
    width: 568px;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    justify-content: space-between;
    &-cover {
      width: 520px;
      height: 224px;
    }
    &-content {
      margin-bottom: 24px;
    }
    &-title {
      margin-bottom: 24px;
    }
  }
}
