@use '../../variables.scss' as *;

.main-banner {
  padding-top: 15px;
  @media (min-width: $tablet) {
    padding-top: 0px;
    height: 480px;
  }
  @media (min-width: $desktop) {
    height: 600px;
    padding-top: 18px;
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @media (min-width: $tablet) {
      flex-direction: row;
    }
  }
  &__image {
    // width: 400px;

    @media (min-width: $tablet) {
      // width: 558px;
      width: 400px;
    }
    @media (min-width: $desktop) {
      width: 558px;
      height: 480px;
    }
    img {
      object-fit: contain;
      @media (min-width: $tablet) {
        height: 100%;
      }
      @media (min-width: $desktop-HD) {
        height: auto;
        // object-fit: none;
      }
    }
  }
  &__content {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 24px;
  }
}
