@use './variables.scss' as *;

.container {
  width: 100%;
  padding-inline: 10px;
  margin-inline: auto;
  &__advantages_transform {
    // transform: translateY(-175px);
    @media (min-width: $tablet) {
      transform: translateY(-175px);
    }
  }
  @media (min-width: $tablet) {
    padding-inline: 20px;
  }
  @media (min-width: $desktop) {
    padding-inline: 20;
    width: 984px;
  }
  @media (min-width: $desktop-HD) {
    padding-inline: 0;
    width: 1160px;
  }
}
