@use './variables.scss' as *;

.decoration {
  &__border {
    width: 100%;
    height: 2px;
    margin-block: 5px;
    background-color: #f0f4ff;
    &_footer {
      margin-block: 24px;
      background-color: var(--color-stroke-neutralA-light);
    }
  }
}
