// .golos-text {
//   font-family: 'Golos Text', sans-serif;
//   font-optical-sizing: auto;
//   font-weight: 400;
//   font-style: normal;
// }

body {
  font-family: 'Golos Text', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: rgba(40, 39, 37, 0.94);
}
