@use './variables.scss' as *;

.section {
  &__title {
    margin-bottom: 24px;
  }
  &__padding {
    padding-block: 48px;
  }
  &__advantages {
    // height: 1408px;
    padding-bottom: 25px;
    @media (min-width: $tablet) {
      padding-bottom: 0px;
      height: 710px;
    }
    // @media (min-width: $desktop) {
    //   height: 443px;
    // }
    @media (min-width: $desktop-HD) {
      height: 443px;
    }
  }
  &__support {
    @media (min-width: $tablet) {
      padding-top: 48px;
    }
  }
  &__faq {
    padding-top: 25px;
    padding-bottom: 25px;
    @media (min-width: $tablet) {
      padding-top: 72px;
      padding-bottom: 88px;
    }
  }
  &__main-banner {
    margin-bottom: 20px;
    @media (min-width: $tablet) {
      margin-bottom: 0px;
    }
  }
}
