/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type=file] {
  max-width: 100%;
}

:root {
  --border-radius-btn: 8px;
  --border-radius-card: 16px;
  --color-button-bg: #1937ff;
  --color-button-bg-hover: #081ea6;
  --color-accent: #ff4702;
  --color-deep-blue: #1937ff;
  --color-banner-main: rgba(105, 205, 255, 1);
  --color-text-neutralA-meduim: rgba(66, 62, 56, 0.65);
  --color-stroke-neutralA-light: rgba(24, 23, 22, 0.13);
}

.container {
  width: 100%;
  padding-inline: 10px;
  margin-inline: auto;
}
@media (min-width: 768px) {
  .container__advantages_transform {
    transform: translateY(-175px);
  }
}
@media (min-width: 768px) {
  .container {
    padding-inline: 20px;
  }
}
@media (min-width: 1024px) {
  .container {
    padding-inline: 20;
    width: 984px;
  }
}
@media (min-width: 1920px) {
  .container {
    padding-inline: 0;
    width: 1160px;
  }
}

body {
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  color: rgba(40, 39, 37, 0.94);
}

.tpg__accent {
  color: var(--color-accent);
}
.tpg__btn {
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
}
.tpg__header {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}
@media (min-width: 768px) {
  .tpg__header {
    font-size: 32px;
  }
}
.tpg__sub-header {
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
}
.tpg__sub-header-2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
.tpg__bold-16 {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}
.tpg__regular-14 {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.tpg__regular-22 {
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
}
.tpg__main_bold {
  font-size: 18px;
  line-height: 120%;
  font-weight: 700;
}
.tpg__main-1 {
  font-size: 15px;
  font-weight: 400;
  line-height: 150%;
}
.tpg__paragraph-m {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  font-weight: 400;
}
.tpg__paragraph-xl {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}
@media (min-width: 768px) {
  .tpg__paragraph-xl {
    font-size: 24px;
  }
}
.tpg__line-bold-xl {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
.tpg__top-nav {
  font-size: 15px;
  font-weight: 500;
  line-height: 150%;
}
@media (min-width: 1024px) {
  .tpg__top-nav {
    font-size: 18px;
  }
}

.background_gray {
  background-color: #f0f4ff;
}
.background_light {
  background-color: #ffffff;
}
.background_blue {
  background-color: var(--color-banner-main);
}
.background_accent {
  background-color: var(--color-accent);
}
.background_deep-blue {
  background-color: var(--color-deep-blue);
}

.decoration__border {
  width: 100%;
  height: 2px;
  margin-block: 5px;
  background-color: #f0f4ff;
}
.decoration__border_footer {
  margin-block: 24px;
  background-color: var(--color-stroke-neutralA-light);
}

.section__title {
  margin-bottom: 24px;
}
.section__padding {
  padding-block: 48px;
}
.section__advantages {
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .section__advantages {
    padding-bottom: 0px;
    height: 710px;
  }
}
@media (min-width: 1920px) {
  .section__advantages {
    height: 443px;
  }
}
@media (min-width: 768px) {
  .section__support {
    padding-top: 48px;
  }
}
.section__faq {
  padding-top: 25px;
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .section__faq {
    padding-top: 72px;
    padding-bottom: 88px;
  }
}
.section__main-banner {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .section__main-banner {
    margin-bottom: 0px;
  }
}

.button {
  background-color: var(--color-button-bg);
  border-radius: var(--border-radius-btn);
  padding-inline: 20px;
  height: 40px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.25s ease-in-out;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  width: 100%;
}
@media (min-width: 768px) {
  .button {
    width: auto;
  }
}
.button:hover {
  background-color: var(--color-button-bg-hover);
}
.button__detailed {
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  text-decoration: underline;
  color: var(--color-button-bg);
  padding-top: 1px;
  border-bottom: 1px solid var(--color-button-bg);
  transition: color 0.25s ease-in-out;
}
.button__detailed:hover {
  color: var(--color-button-bg-hover);
}

.nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 10px;
}
.nav-top__icon {
  width: 20px;
  height: 20px;
}
.nav-top__right {
  display: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 15px;
}
@media (min-width: 768px) {
  .nav-top__right {
    display: flex;
  }
}
.nav-top__left {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 5px;
}
@media (min-width: 768px) {
  .nav-top__left {
    gap: 30px;
  }
}
.nav-top__link {
  border-bottom: 1px transparent solid;
}
.nav-top__link.active {
  border-bottom: 1px #333 solid;
}
.nav-top__item-selected {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}
.nav-top__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: color 0.25s ease-in-out;
}
.nav-top__item.nav-top__item-selected {
  display: none;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}
@media (min-width: 1024px) {
  .nav-top__item.nav-top__item-selected {
    display: flex;
  }
}
.nav-top__menu {
  width: 24px;
  height: 24px;
}
.nav-top__menu svg {
  width: 100%;
  height: 100%;
  color: rgba(57, 60, 83, 0.65);
  transition: color 0.25s ease-in-out;
}
.nav-top__menu:hover svg {
  color: var(--color-button-bg);
}

nav a {
  color: #333;
  transition: all 0.25s ease-in-out;
}
nav a:visited {
  color: #333;
}
nav a:hover {
  color: var(--color-button-bg);
}
nav a:hover.active {
  border-bottom: 1px var(--color-button-bg) solid;
}

.nav-links {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-block: 10px;
}
@media (min-width: 768px) {
  .nav-links {
    display: flex;
  }
}
.nav-links__list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.nav-links__search {
  width: 24px;
  height: 24px;
}

.logo-wrap {
  width: 123px;
  height: 20px;
}
.logo-wrap svg {
  width: 123px;
  height: 20px;
  max-width: 100%;
  height: auto;
  transform: translate3d(0, 0, 0);
}

header .decoration__border {
  display: none;
}
@media (min-width: 768px) {
  header .decoration__border {
    display: block;
  }
}

.nav-top__right_mobile {
  position: relative;
  width: 21px;
  height: 17px;
  border-bottom: 3px solid rgb(25, 55, 255);
}
.nav-top__right_mobile::before {
  content: "";
  position: absolute;
  background: rgb(25, 55, 255);
  width: 100%;
  height: 3px;
  top: 0px;
}
.nav-top__right_mobile::after {
  content: "";
  position: absolute;
  background: rgb(25, 55, 255);
  width: 100%;
  height: 3px;
  top: 7px;
}
.nav-top__right_mobile:hover {
  cursor: pointer;
}
@media (min-width: 768px) {
  .nav-top__right_mobile {
    display: none;
  }
}

.footer {
  padding-block: 24px;
}
.footer__title {
  margin-bottom: 16px;
}
.footer__links-list {
  columns: 2;
}
.footer__links-item {
  margin-bottom: 16px;
}
.footer__links-item:hover a {
  color: var(--color-button-bg);
}
.footer__about-item:hover a {
  color: var(--color-button-bg);
}
.footer__links {
  display: grid;
  grid-template-columns: auto;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .footer__links {
    grid-template-columns: 1fr 1fr;
  }
}
.footer__private {
  border-bottom: 1px solid var(--color-stroke-neutralA-light);
  padding-bottom: 15px;
}
@media (min-width: 768px) {
  .footer__private {
    padding-bottom: 0;
    padding-right: 24px;
    border-bottom: none;
    border-right: 1px solid var(--color-stroke-neutralA-light);
  }
}
.footer__business {
  padding-top: 15px;
}
@media (min-width: 768px) {
  .footer__business {
    padding-top: 0;
    padding-left: 24px;
  }
}
.footer__app-stores {
  padding-top: 24px;
  padding-bottom: 32px;
}
.footer__app-stores-list {
  display: grid;
  grid-template-columns: auto auto;
  gap: 16px;
}
@media (min-width: 768px) {
  .footer__app-stores-list {
    display: flex;
    flex-direction: row;
  }
}
.footer__app-stores-item {
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .footer__app-stores-item {
    flex-shrink: 0;
    flex-grow: 0;
    width: 140px;
    height: 44px;
  }
}
.footer__app-stores-item img {
  width: 100%;
  object-fit: cover;
}
.footer a {
  color: #343332;
  transition: color 0.25s ease-in-out;
}
.footer__about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.footer__about-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.footer__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
@media (min-width: 768px) {
  .footer__bottom {
    gap: 0;
    flex-direction: row;
  }
}
.footer__left-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.footer__left-item {
  color: var(--color-text-neutralA-meduim);
}
.footer__left-item a {
  color: var(--color-text-neutralA-meduim);
}
.footer__right-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.footer__socials-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.footer__socials-item {
  width: 24px;
  height: 24px;
}
.footer__language-btn {
  color: var(--color-text-neutralA-meduim);
}

.main-banner {
  padding-top: 15px;
}
@media (min-width: 768px) {
  .main-banner {
    padding-top: 0px;
    height: 480px;
  }
}
@media (min-width: 1024px) {
  .main-banner {
    height: 600px;
    padding-top: 18px;
  }
}
.main-banner__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .main-banner__wrap {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .main-banner__image {
    width: 400px;
  }
}
@media (min-width: 1024px) {
  .main-banner__image {
    width: 558px;
    height: 480px;
  }
}
.main-banner__image img {
  object-fit: contain;
}
@media (min-width: 768px) {
  .main-banner__image img {
    height: 100%;
  }
}
@media (min-width: 1920px) {
  .main-banner__image img {
    height: auto;
  }
}
.main-banner__content {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 24px;
}

.advantages__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}
@media (min-width: 768px) {
  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1920px) {
  .advantages__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.advantages__support {
  display: flex;
  flex-direction: column;
}
.advantages__support a {
  color: #fff;
}
.advantages__support a[href^=tel] {
  color: inherit;
  text-decoration: none;
}
.advantages__item {
  padding: 10px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  border-radius: var(--border-radius-card);
  width: 100%;
}
@media (min-width: 768px) {
  .advantages__item {
    height: 240px;
    padding: 15px;
  }
}
@media (min-width: 1024px) {
  .advantages__item {
    width: 100%;
    height: 240px;
    padding: 24px;
  }
}
@media (min-width: 1920px) {
  .advantages__item {
    width: 370px;
    height: 240px;
    padding: 24px;
  }
}
.advantages__item.font-color-invers {
  color: #fff;
}
.advantages__item:nth-child(3) {
  order: 2;
}
@media (min-width: 1920px) {
  .advantages__item:nth-child(3) {
    order: 0;
  }
}
.advantages__logo {
  width: 24px;
  height: 24px;
}

.sending__types-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 24px;
}
@media (min-width: 768px) {
  .sending__types-list {
    flex-direction: row;
  }
}
.sending__types-item {
  border-radius: var(--border-radius-card);
  overflow: hidden;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .sending__types-item {
    padding: 15px;
  }
}
@media (min-width: 1024px) {
  .sending__types-item {
    padding: 24px;
  }
}
@media (min-width: 1920px) {
  .sending__types-item {
    width: 568px;
    flex-grow: 0;
    flex-shrink: 0;
  }
}
.sending__types-item-cover {
  width: 100%;
}
@media (min-width: 1920px) {
  .sending__types-item-cover {
    width: 520px;
    height: 224px;
  }
}
.sending__types-item-content {
  margin-bottom: 24px;
}
.sending__types-item-title {
  margin-bottom: 24px;
}

.rate {
  border-radius: var(--border-radius-card);
  padding-top: 24px;
}
.rate__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (min-width: 768px) {
  .rate__list {
    flex-direction: row;
  }
}
.rate__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .rate__item {
    width: 370px;
  }
}
.rate__description {
  margin-bottom: 24px;
}
.rate__item-title {
  margin-bottom: 12px;
}
.rate__item-cover {
  border-radius: var(--border-radius-card);
  background-color: #fff;
  height: 210px;
  margin-bottom: 44px;
}
.rate__item-cover img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.rate__content {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.payment__list {
  display: grid;
  grid-template-columns: auto;
  gap: 24px;
}
@media (min-width: 768px) {
  .payment__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1920px) {
  .payment__list {
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: 202px 287px;
  }
}
.payment__item-row-span {
  grid-row: span 2;
}
@media (min-width: 768px) {
  .payment__text {
    margin-bottom: 10px;
  }
}
@media (min-width: 1024px) {
  .payment__text {
    margin-bottom: 0px;
  }
}
.payment__content {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
@media (min-width: 1024px) {
  .payment__content {
    margin-bottom: 0px;
  }
}
.payment__item {
  border-radius: var(--border-radius-card);
  padding: 26px 24px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.payment__title {
  margin-bottom: 30px;
}
.payment__cover {
  margin-bottom: 38px;
  border-radius: 4px;
}
.payment__cover img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: var(--border-radius-card);
  padding: 24px;
}
.card__content {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .card__content {
    margin-bottom: 10px;
  }
}
@media (min-width: 1024px) {
  .card__content {
    margin-bottom: 0;
  }
}
.card__title {
  margin-bottom: 24px;
}
.card__bts-array {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.services__list {
  display: grid;
  grid-template-columns: auto;
  gap: 24px;
}
@media (min-width: 768px) {
  .services__list {
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: 282px;
  }
}
.services__item {
  gap: 15px;
}
@media (min-width: 768px) {
  .services__item {
    gap: 0;
  }
}
@media (min-width: 768px) {
  .services__item-title {
    min-height: 72px;
  }
}
@media (min-width: 768px) {
  .services__list-wrap {
    overflow-y: auto;
    margin-right: -19px;
    padding-bottom: 10px;
  }
}
@media (min-width: 1920px) {
  .services__list-wrap {
    overflow-y: none;
  }
}

.support {
  border-radius: var(--border-radius-card);
  background-image: url("../../resources/img/assets/support_cover.webp");
  background-position: top right;
  background-size: 220px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
}
@media (min-width: 768px) {
  .support {
    align-items: center;
    flex-direction: row;
    background-position: bottom right;
    gap: 32px;
    height: 238px;
  }
}
@media (min-width: 1024px) {
  .support {
    align-items: center;
    flex-direction: row;
    background-size: contain;
    padding: 40px;
    gap: 32px;
    height: 238px;
  }
}
.support__content {
  color: #fff;
}
.support__content a {
  color: #fff;
}
.support a {
  color: #fff;
}
.support__title {
  margin-bottom: 8px;
}
.support__description {
  margin-bottom: 16px;
}
.support__contacts {
  display: flex;
  flex-direction: column;
}

.faq__item-title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.faq__item-title span:first-child {
  padding-right: 15px;
}
.faq__list {
  display: grid;
  grid-template-columns: auto;
  column-gap: 48px;
}
@media (min-width: 768px) {
  .faq__list {
    grid-template-columns: 1fr 1fr;
  }
}
.faq__title {
  margin-bottom: 24px;
}
.faq__item {
  min-height: 100px;
}
.faq__chevron {
  flex-shrink: 0;
}

.faq__item-content {
  max-height: 0;
  overflow: hidden;
  padding-inline: 10px;
  transition: all 0.25s ease-in-out;
}

.faq__item input {
  display: none;
}

.faq__item input:checked ~ .faq__item-content {
  max-height: 100px;
  padding-block: 5px;
}

.faq__chevron {
  transition: transform 0.25s ease-in-out;
}

.faq__item input:checked ~ .faq__item-title .faq__chevron {
  transform: rotate(180deg);
}

/*# sourceMappingURL=stylesheet.css.map */
