/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type=file] {
  max-width: 100%;
}

:root {
  --border-radius-btn: 8px;
  --border-radius-card: 16px;
  --color-button-bg: #1937ff;
  --color-button-bg-hover: #081ea6;
  --color-accent: #ff4702;
  --color-deep-blue: #1937ff;
  --color-banner-main: rgba(105, 205, 255, 1);
  --color-text-neutralA-meduim: rgba(66, 62, 56, 0.65);
  --color-stroke-neutralA-light: rgba(24, 23, 22, 0.13);
}

.container {
  width: 1160px;
  margin-inline: auto;
}
.container__advantages_transform {
  transform: translateY(-175px);
}

body {
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  color: rgba(40, 39, 37, 0.94);
}

.tpg__accent {
  color: var(--color-accent);
}
.tpg__btn {
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
}
.tpg__header {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}
.tpg__sub-header {
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
}
.tpg__sub-header-2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
.tpg__bold-16 {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}
.tpg__regular-14 {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.tpg__regular-22 {
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
}
.tpg__main_bold {
  font-size: 18px;
  line-height: 120%;
  font-weight: 700;
}
.tpg__main-1 {
  font-size: 15px;
  font-weight: 400;
  line-height: 150%;
}
.tpg__paragraph-m {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  font-weight: 400;
}
.tpg__paragraph-xl {
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
}

.background_gray {
  background-color: #f0f4ff;
}
.background_light {
  background-color: #ffffff;
}
.background_blue {
  background-color: var(--color-banner-main);
}
.background_accent {
  background-color: var(--color-accent);
}
.background_deep-blue {
  background-color: var(--color-deep-blue);
}

.decoration__border {
  width: 100%;
  height: 2px;
  margin-block: 5px;
  background-color: #f0f4ff;
}
.decoration__border_footer {
  margin-block: 24px;
  background-color: var(--color-stroke-neutralA-light);
}

.section__title {
  margin-bottom: 24px;
}
.section__padding {
  padding-block: 48px;
}
.section__advantages {
  height: 443px;
}

.button {
  background-color: var(--color-button-bg);
  border-radius: var(--border-radius-btn);
  padding-inline: 20px;
  height: 40px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.25s ease-in-out;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
}
.button:hover {
  background-color: var(--color-button-bg-hover);
}
.button__detailed {
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  text-decoration: underline;
  color: var(--color-button-bg);
  padding-top: 1px;
  border-bottom: 1px solid var(--color-button-bg);
  transition: color 0.25s ease-in-out;
}
.button__detailed:hover {
  color: var(--color-button-bg-hover);
}

.nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-top__icon {
  width: 20px;
  height: 20px;
}
.nav-top__right {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.nav-top__left {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.nav-links__list {
  display: flex;
  flex-direction: row;
}

.footer {
  padding-block: 24px;
}
.footer__title {
  margin-bottom: 16px;
}
.footer__links-list {
  columns: 2;
}
.footer__links-item {
  margin-bottom: 16px;
}
.footer__links-item:hover a {
  color: #9a9795;
}
.footer__about-item:hover a {
  color: #9a9795;
}
.footer__links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 16px;
}
.footer__private {
  border-right: 1px solid var(--color-stroke-neutralA-light);
  padding-right: 24px;
}
.footer__business {
  padding-left: 24px;
}
.footer__app-stores {
  padding-top: 24px;
  padding-bottom: 32px;
}
.footer__app-stores-list {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.footer__app-stores-item {
  flex-shrink: 0;
  flex-grow: 0;
  width: 140px;
  height: 44px;
}
.footer a {
  color: #343332;
  transition: color 0.25s ease-in-out;
}
.footer a:visited {
  color: #343332;
}
.footer__about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.footer__about-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.footer__bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footer__left-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.footer__left-item {
  color: var(--color-text-neutralA-meduim);
}
.footer__left-item a {
  color: var(--color-text-neutralA-meduim);
}
.footer__right-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.footer__socials-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.footer__socials-item {
  width: 24px;
  height: 24px;
}
.footer__language-btn {
  color: var(--color-text-neutralA-meduim);
}

.main-banner {
  height: 600px;
  padding-top: 18px;
}
.main-banner__wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.main-banner__image {
  width: 558px;
  height: 480px;
}
.main-banner__content {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
}

.advantages__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}
.advantages__item {
  padding: 24px;
  width: 370px;
  height: 240px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  border-radius: var(--border-radius-card);
}
.advantages__item.font-color-invers {
  color: #fff;
}
.advantages__logo {
  width: 24px;
  height: 24px;
}

.sending__types-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding-bottom: 24px;
}
.sending__types-item {
  border-radius: var(--border-radius-card);
  overflow: hidden;
  width: 568px;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  justify-content: space-between;
}
.sending__types-item-cover {
  width: 520px;
  height: 224px;
}
.sending__types-item-content {
  margin-bottom: 24px;
}
.sending__types-item-title {
  margin-bottom: 24px;
}

.rate {
  border-radius: var(--border-radius-card);
  padding-top: 24px;
}
.rate__list {
  display: flex;
  gap: 24px;
}
.rate__item {
  width: 370px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.rate__description {
  margin-bottom: 24px;
}
.rate__item-title {
  margin-bottom: 12px;
}
.rate__item-cover {
  border-radius: var(--border-radius-card);
  background-color: #fff;
  height: 210px;
  margin-bottom: 44px;
}
.rate__item-cover img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.rate__content {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.payment__list {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-template-rows: 202px 287px;
  gap: 24px;
}
.payment__item-row-span {
  grid-row: span 2;
}
.payment__content {
  display: flex;
  flex-direction: column;
}
.payment__item {
  border-radius: var(--border-radius-card);
  padding: 26px 24px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.payment__title {
  margin-bottom: 30px;
}
.payment__cover {
  margin-bottom: 38px;
  border-radius: 4px;
}
.payment__cover img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: var(--border-radius-card);
  padding: 24px;
}
.card__content {
  display: flex;
  flex-direction: column;
}
.card__title {
  margin-bottom: 24px;
}
.card__bts-array {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.services__list {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-template-rows: 282px;
  gap: 24px;
}
.services__item-title {
  min-height: 72px;
}

.support {
  border-radius: var(--border-radius-card);
  background-image: url("../../resources/img/assets/support_cover.webp");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 40px;
  height: 238px;
  gap: 32px;
}
.support__content {
  color: #fff;
}
.support__content a {
  color: #fff;
}
.support__title {
  margin-bottom: 8px;
}
.support__description {
  margin-bottom: 16px;
}
.support__contacts {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=stylesheet.css.map */
