@use './variables.scss' as *;
@use './fonts.scss' as *;

.tpg {
  &__accent {
    color: var(--color-accent);
  }
  &__btn {
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
  }
  &__header {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    @media (min-width: $tablet) {
      font-size: 32px;
    }
  }
  &__sub-header {
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
  }
  &__sub-header-2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
  }
  &__bold-16 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
  }
  &__regular-14 {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
  }
  &__regular-22 {
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
  }
  &__main_bold {
    font-size: 18px;
    line-height: 120%;
    font-weight: 700;
  }
  &__main-1 {
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
  }
  &__paragraph-m {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    font-weight: 400;
  }
  &__paragraph-xl {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    @media (min-width: $tablet) {
      font-size: 24px;
    }
  }
  &__line-bold-xl {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
  }
  &__top-nav {
    font-size: 15px;
    font-weight: 500;
    line-height: 150%;
    @media (min-width: $desktop) {
      font-size: 18px;
    }
  }
}
