:root {
  --border-radius-btn: 8px;
  --border-radius-card: 16px;
  --color-button-bg: #1937ff;
  --color-button-bg-hover: #081ea6;
  --color-accent: #ff4702;
  --color-deep-blue: #1937ff;
  --color-banner-main: rgba(105, 205, 255, 1);
  --color-text-neutralA-meduim: rgba(66, 62, 56, 0.65);
  --color-stroke-neutralA-light: rgba(24, 23, 22, 0.13);
}

$tablet: 768px;
$desktop: 1024px;
$desktop-HD: 1920px;

//debug
* {
  // outline: 1px solid red;
}
