@use '../../mixins.scss' as *;
@use '../../variables.scss' as *;

.nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 10px;
  &__icon {
    width: 20px;
    height: 20px;
  }
  &__right {
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 15px;
    @media (min-width: $tablet) {
      display: flex;
    }
  }
  &__left {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5px;
    @media (min-width: $tablet) {
      gap: 30px;
    }
  }
  &__link {
    border-bottom: 1px transparent solid;
    &.active {
      border-bottom: 1px #333 solid;
    }
  }
  &__item-selected {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;

    // @media (min-width: $tablet) {
    //   display: flex;
    // }
    // @media (min-width: $desktop) {
    //   // display: flex !important;
    // }
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    @include animate(color);
    &:hover {
      // a {
      //   color: var(--color-button-bg);
      // }
      // svg {
      //   color: var(--color-button-bg);
      // }
    }
    &.nav-top__item-selected {
      display: none;
      flex-direction: row;
      gap: 15px;
      align-items: center;
      @media (min-width: $desktop) {
        display: flex;
      }
    }
  }
  &__menu {
    width: 24px;
    height: 24px;
    //rgba(57, 60, 83, 0.65) оригинальный цвет меню

    svg {
      width: 100%;
      height: 100%;
      color: rgba(57, 60, 83, 0.65);
      @include animate(color);
    }
    &:hover {
      svg {
        color: var(--color-button-bg);
      }
    }
  }
}
nav {
  a {
    color: #333;
    @include animate(all);
    &:visited {
      color: #333;
    }
    &:hover {
      color: var(--color-button-bg);
      &.active {
        border-bottom: 1px var(--color-button-bg) solid;
      }
    }
  }
}
.nav-links {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-block: 10px;
  @media (min-width: $tablet) {
    display: flex;
  }
  &__list {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  &__search {
    width: 24px;
    height: 24px;
  }
}
.logo-wrap {
  width: 123px;
  // height: 36px;
}
header {
  .decoration__border {
    display: none;
    @media (min-width: $tablet) {
      display: block;
    }
  }
}
.nav-top__right_mobile {
  position: relative;
  width: 21px;
  height: 17px;
  border-bottom: 3px solid rgb(25, 55, 255);
  &::before {
    content: '';
    position: absolute;
    background: rgb(25, 55, 255);
    width: 100%;
    height: 3px;
    top: 0px;
  }
  &::after {
    content: '';
    position: absolute;
    background: rgb(25, 55, 255);
    width: 100%;
    height: 3px;
    top: 7px;
  }
  &:hover {
    cursor: pointer;
  }
  @media (min-width: $tablet) {
    display: none;
  }
}
