@use '../../variables.scss' as *;

.support {
  border-radius: var(--border-radius-card);
  background-image: url('../../resources/img/assets/support_cover.webp');
  background-position: top right;
  background-size: 220px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;

  @media (min-width: $tablet) {
    align-items: center;
    flex-direction: row;
    background-position: bottom right;

    gap: 32px;
    height: 238px;
  }
  @media (min-width: $desktop) {
    align-items: center;
    flex-direction: row;
    background-size: contain;
    padding: 40px;
    gap: 32px;
    height: 238px;
  }

  &__content {
    color: #fff;
    a {
      color: #fff;
    }
  }
  &__title {
    margin-bottom: 8px;
  }
  &__description {
    margin-bottom: 16px;
  }
  &__contacts {
    display: flex;
    flex-direction: column;
  }
}
