.support {
  border-radius: var(--border-radius-card);
  background-image: url('../../resources/img/assets/support_cover.webp');
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 40px;
  height: 238px;
  gap: 32px;
  &__content {
    color: #fff;
    a {
      color: #fff;
    }
  }
  &__title {
    margin-bottom: 8px;
  }
  &__description {
    margin-bottom: 16px;
  }
  &__contacts {
    display: flex;
    flex-direction: column;
  }
}
