@use '../../variables.scss' as *;
@use '../../mixins.scss' as *;

.footer {
  padding-block: 24px;
  &__title {
    margin-bottom: 16px;
  }
  &__links-list {
    columns: 2;
  }
  &__links-item {
    margin-bottom: 16px;

    &:hover {
      a {
        color: var(--color-button-bg);
      }
    }
  }
  &__about-item {
    &:hover {
      a {
        color: var(--color-button-bg);
      }
    }
  }
  &__links {
    display: grid;
    grid-template-columns: auto;
    margin-bottom: 16px;
    @media (min-width: $tablet) {
      grid-template-columns: 1fr 1fr;
    }
  }
  &__private {
    border-bottom: 1px solid var(--color-stroke-neutralA-light);
    padding-bottom: 15px;
    @media (min-width: $tablet) {
      padding-bottom: 0;
      padding-right: 24px;
      border-bottom: none;
      border-right: 1px solid var(--color-stroke-neutralA-light);
    }
  }
  &__business {
    padding-top: 15px;
    @media (min-width: $tablet) {
      padding-top: 0;
      padding-left: 24px;
    }
  }
  &__app-stores {
    padding-top: 24px;
    padding-bottom: 32px;
  }
  &__app-stores-list {
    display: grid;
    grid-template-columns: auto auto;
    gap: 16px;
    @media (min-width: $tablet) {
      display: flex;
      flex-direction: row;
    }
  }
  &__app-stores-item {
    width: 100%;
    height: auto;
    @media (min-width: $tablet) {
      flex-shrink: 0;
      flex-grow: 0;
      width: 140px;
      height: 44px;
    }
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  a {
    color: #343332;
    @include animate(color);
    // &:visited {
    //   color: #343332;
    // }
  }
  &__about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
  }
  &__about-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 16px;
    @media (min-width: $tablet) {
    }
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    @media (min-width: $tablet) {
      gap: 0;
      flex-direction: row;
    }
  }
  &__left-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
  &__left-item {
    color: var(--color-text-neutralA-meduim);
    a {
      color: var(--color-text-neutralA-meduim);
    }
  }
  &__right-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }
  &__socials-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  &__socials-item {
    width: 24px;
    height: 24px;
  }
  &__language-btn {
    color: var(--color-text-neutralA-meduim);
  }
}
